<mat-card class="login-card">
    <h2>Reset Password</h2>
  
    <form #resetForm="ngForm" (ngSubmit)="onSubmit(resetForm)">
  
      <!-- Token Field -->
      <mat-form-field appearance="outline" class="full-width field-spacing">
        <mat-label>Reset Token</mat-label>
        <input matInput type="text" name="token" [(ngModel)]="resetData.token" required #tokenRef="ngModel" />
        <mat-error *ngIf="tokenRef.errors?.['required'] && tokenRef.touched">
          Token is required
        </mat-error>
      </mat-form-field>

      <br><br>
  
      <!-- New Password -->
      <mat-form-field appearance="outline" class="full-width field-spacing">
        <mat-label>New Password</mat-label>
        <input matInput
          type="password"
          name="newPassword"
          [(ngModel)]="resetData.newPassword"
          required
          minlength="8"
          pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[^a-zA-Z0-9]).{8,}$"
          #newPasswordRef="ngModel"
          (ngModelChange)="checkPasswordsMatch()"
        />
        <mat-error *ngIf="newPasswordRef.errors?.['required'] && newPasswordRef.touched">
            Password is required
        </mat-error>
        <mat-error *ngIf="newPasswordRef.errors?.['pattern'] && newPasswordRef.touched">
            Password must include (8 character) uppercase, lowercase, number, and special character
        </mat-error>
      </mat-form-field>

      <br><br>
      
      <!-- Confirm Password -->
      <mat-form-field appearance="outline" class="full-width field-spacing">
        <mat-label>Confirm Password</mat-label>
        <input matInput
          type="password"
          name="confirmPassword"
          [(ngModel)]="resetData.confirmPassword"
          required
          #confirmPasswordRef="ngModel"
          (ngModelChange)="checkPasswordsMatch()"
        />
        <mat-error *ngIf="confirmPasswordRef.errors?.['required'] && confirmPasswordRef.touched">
          Confirm password is required
        </mat-error>
        <mat-error *ngIf="!passwordsMatch && confirmPasswordRef.touched">
          Passwords do not match
        </mat-error>
      </mat-form-field>
  
      <!-- Submit Button -->
      <div class="login-button-container">
        <button mat-raised-button color="primary" type="submit" [disabled]="!resetForm.valid || !passwordsMatch">
          Submit New Password
        </button>
      </div>
  
    </form>
  </mat-card>
  