.edit-question-wrapper {
  padding: 20px;
  margin: 30px auto;
  max-width: 700px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
}

.full-width {
  width: 100%;
  margin-top: 15px;
}

.action-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-top: 25px;
}
